.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  max-width: "90%";
  margin-left: "40%";
  justify-content: space-around;
  background: "#8D95A3";
}

div > div {
  padding: 10px;
}
